body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;

}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid gray;
}

#banner {
    background-color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid gray;
    margin: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0);
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    background-color: rgb(0, 0, 0);
}

.post .Left {
    float: left;
    margin-right: 10px;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    color: white;
}

a:hover {
    color: rgb(8, 8, 8);
}

.gameInfo img {
    width: 300px ;
    border: 2px solid lightgray;
}