body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: rgb(255, 255, 255);
}

#content {
    width: 80%;
    margin: auto;
    border: 5px dashed white;
    border-radius: 25px;
    margin-top: 50px;
    padding: 20px;
}


#banner {
    background-color: black;
    text-align: center;
    margin: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid white;
    background-color: black;
    border-radius: 30px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: black;
    border-radius: 25px;
}

.post .Left {
    margin: auto;
}

.post img {
    width: 400px;
}

.aboutImg {
    border: white solid 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
 }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 8px;
}

.gallery img {
    border-radius: 8px;
}

.post h2 {
    text-align: center;
}

.post p {
    text-align: center;
}

#content a:hover {
    color: black;
}

#content a {
    color: white;
    transition: color 500ms ease-in;
}

.gameInfo img {
    width: 300px ;
    border: 2px solid lightgray;
}